[Unit]
Description=JunOS exporter for FreeRadius
Documentation=https://github.com/czerwonk/junos_exporter/

[Service]
Restart=on-failure
DynamicUser=yes
User=prometheus
EnvironmentFile=/etc/default/prometheus-junos-exporter
ExecStart=/usr/bin/junos_exporter $ARGS

[Install]
WantedBy=multi-user.target
