on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: ["1.20.x"]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      if: success()
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Build
      run: go build
    - name: Run tests
      run: go test ./... -v -covermode=count
